src/testcase1/error.dat
src/testcase1/snapshot_*.bin
src/testcase1/snapshot_*.png
src/testcase1/shallow_water_test1
src/testcase1/cost.log
src/testcase1/*.mod
src/testcase1/run.log
src/testcase1/grid_params.txt
scripts/fautodiff
